<!doctype HTML>
<html>
    <body>
       <form action = "http://localhost:5000/start_page" method = "post">
          <h1>Wellcome ESE Shopping</h1>
          <p><input placeholder="Username" type = "text" name = "myName" /></p>
          <p><input  placeholder="Password" type ="Password" name = "password"/></p>
          <p><input type = "submit" value = "submit" /></p>
          <p><br> made by 201601799 Seungju_Pyo</p>
       </form>
    </body>
    <body>
      <h3><br><br>example ID & PW</h3>
      <p>__ID__PW__</p>
      <p>011__1</p>
      <p>022__2</p>
      <p>033__3</p>
    </body>
 </html>